.vk-button__input {
  display: inline-flex;
  align-items: center;
  color: #4680c2;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  padding-right: 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.vk-button {
  margin-top: 10%;
  text-align: center;
}

.vk-button__input-icon {
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

.my-profile {
  margin-top: 10%;
  display: block;
  justify-content: center;
  align-items: center;
}

.my-friends {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.my-friend {
  padding: 3%;
}

img {
  border-radius: 50%;
}

h1 {
  font-style: normal;
  font-weight: lighter;
  text-transform: uppercase;
}
